{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}edit_firewall_rule_form{% endblock %}
{% block form_action %}{% url horizon:nova:networking:firewall:edit firewall_rule.id %}{% endblock %}

{% block modal-header %}{% trans "Edit a Rule" %}{% endblock %}
{% block modal_id %}edit_firewall_rule_modal{% endblock %}

{% block modal-body %}
    {% include "akanda/firewall/_edit_form_fields.html" %}
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Edit Rule" %}" />
  <a href="" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}

