{% extends 'base.html' %}
{% load i18n %}
{% load compress %}
{% block title %}{% trans "Akanda Networking" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Akanda Networking") %}
{% endblock page_header %}

{% comment %}
{% block js %}
  {{ block.super }}
  {% compress js %}
  <script src="{{ STATIC_URL }}akanda/js/akanda_one.js"
          type="text/javascript" charset="utf-8"></script>
  {% endcompress %}
{% endblock %}
{% endcomment %}

{% comment %}
{% block js %}
  {% include "akanda/_scripts.html" %}
{% endblock %}
{% endcomment %}

{% block main %}
<div class="row-fluid">
  <div class="span12">
  {{ tab_group.render }}
  </div>
</div>
{% endblock %}
